*.DS_Store linguist-detectable=false 
*.exe linguist-detectable=false 
*.zip linguist-detectable=false 
*.url linguist-detectable=false 
*.pdf linguist-detectable=false 
*.toc linguist-detectable=false 
